button .deepsearch{
	border-radius: 6%;
	box-shadow: 2px 2px grey;
	font-family: sans-serif;
}
.panel{
	text-align: center;
}
h2{
	font-weight: bolder;
	font-family: monospace;
}
.jumbotron{
  background-image: url("../assets/bg.jpg");
	box-shadow: 2px 2px black;
}
.container{
	background-color: yellow;
	padding-right:120px;
	padding-left: 120px;
	padding-bottom: 70px;
	padding-top: 50px;
	text-align: center;
	border-radius: 1.5%;
}
.top-links{
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	color: silver;
	padding: 5px;
	padding-top: 20px;
	margin-bottom: 20px;
	position: absolute;
}
input{
	margin-top: 24px;
	width: 50%;
}
#body img{
border-radius: 5%;
opacity: 0.8;
}
.panel button{
	color: yellow;
	background-color: black;
	height: 25%;
	opacity: 0.75;
	width: 30%;
	box-shadow: 2px 2px black;
    border-radius: 8%;
}
#header img{
	border-radius: 2.5%;
	opacity: 0.75;
}
body{
	background-color: rgba(0,0,0,0.8)
}
