<head>
  <title>Github Search</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron" id="header">
      <img src="../assets/github logo.png" alt="logo">
      <img id="top-image" src="../assets/GitHub.jpg">
      <input [formControl]="findControl"
    placeholder="GitHub username"><button class="search"><img src="../assets/search.jpg" alt="icon" height="22px" width="25px"></button>
    </div>
    <div class="jumbotron" id="body">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Repositories</h2>
            </div>
            <div class="panel-body">
              <img src="../assets/repo-search.png">
            </div><br><br><br>
            <div class="panel-footer">
            <button class="deep-search" onclick="repo-search.html"><strong><a href="repo-search.html">Search all github by Repositories</a></strong></button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class= "panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Github Users</h2>
            </div>
            <div class="panel-body">
             <img src="../assets/user.jpg" height="225px" width="225px">
            </div><br><br><br>
            <div class="panel-footer">
            <button class="deep-search"><strong><a href="user-search.html">Search all github by Usernames</a></strong></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<footer>
  <nav class="top-links">
    <div class="row">
      <div class="col-md-3">
        <a href="">Home</a>
      </div>
      <div class="col-md-3">
        <a href="">About us</a>
      </div>
      <div class="col-md-3">
        <a href="">Contact</a>
      </div>
      <div class="col-md-3">
        <a href="">Donate</a>
      </div>
    </div>
  </nav>
</footer>
