<head>
  <title>Github Search</title>
</head>
<body>
  <div class="container">
    <div class="jumbotron" id="header">
      <img src="assets/github logo.png" alt="logo">
      <img id="top-image" src="../assets/GitHub.jpg">

    </div>
    <app-user></app-user>
    <div class="jumbotron" id="body">
      <div class="row">
        <div class="col-md-6">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Repositories</h2>
            </div>
            <div class="panel-body">
              <img src="assets/repo-search.png">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class= "panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Github Users</h2>
            </div>
            <div class="panel-body">
             <img src="assets/user.jpg" height="225px" width="225px">
            </div><br><br><br>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
