<div class="jumbotron" id="result">
<form class="git-search" action="">
  <input [(ngModel)] = "username" name ="username" (keyup)="getProfiles()"><button class="search"><img src="../assets/search.jpg" alt="icon
  " height="22px" width="25px"></button>
</form>
<div *ngIf="profile">
  <img src="{{profile.avatar_url}}" alt="logo">
  <p>{{profile.name}}<small>{{profile.login}})</small>(</p>
  <p>{{profile.public_repos}}</p>
  <p>View all Repositories:<<a href="{{profile.repos_url}}">Repos</a></p>
  <p>{{profile.created_at}}</p>
</div>
</div>
